body {
    background-color: rgb(225, 225, 225);
    font-family: "Raleway", sans-serif;
}

h1 {
    color: rgb(0, 230, 64);
    text-align: center;
    width: 100%;
    margin-top: 0;
    font-size: 3em;
}

#mainlink {
    text-align: center;
    color: rgb(0, 230, 64);
}

#mainlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

#mainwords {
    text-align: center;
}

#budgetform {
    text-align: center;
}

#budgetinput {
    background: rgb(240, 240, 240);
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
}

#budgetinput:focus {
    outline: none;
}

#resultscontainer {
    height: 100vh;
}

#resultstitle {
    text-align: center;
    margin-top: 15px;
    font-size: 2em;
}

#resultsmoney {
    text-align: center;
    margin-top: 10px;
    font-size: 4em;
    color: rgb(0, 230, 64);
    font-weight: 700;
}

#resultsmoneywords {
    font-size: .5em;
    color: black;
}

#resultsitem {
    padding: 20px;
    font-size: 1.5em;
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
}

#resultsitemname {
    display: inline;
}

#resultsitemprice {
    color: rgb(150, 150, 150);
    float: right;
}
